@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: leisure;
  src: url(/leisure.otf);
}

@font-face {
  font-family: ptsans;
  src: url(/ptsans.ttf);
}

@font-face {
  font-family: ptsans-bold;
  src: url(/ptsans-bold.ttf);
}
